.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0 0.5rem;
}

.card_header {
  border-bottom: 1px solid #f6f6f6;
  padding: 1rem 1.2rem;
  background-color: #1364ff;
  text-align: center;
}

.card_body {
  padding: 1rem 1.2rem;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.input_container {
  border-radius: 0.5rem;
  border: 1px solid #f3f3f3;
  overflow: hidden;
}

.input {
  width: 20rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  outline: none;
  border: none;
  padding: 0.8rem 0.3rem;

  background-color: transparent;
}

.input::placeholder {
  color: #b8bac5;
  font-size: 0.9rem;
  font-family: sans-serif;
}
.input_box {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  position: relative;
}

.progress_bg {
  width: 100%;
  height: 0.25rem;
  background-color: #fbfbfb;
  border-radius: 0 0 0.2rem 0.2rem;
  position: relative;
}

.progress {
  width: 0%;
  height: 0.25rem;
  position: absolute;
  border-radius: 0 0 0.2rem 0.2rem;
  transition: all 0.5s ease-out;
}

.toggle_btn {
  text-decoration: none;
  color: #c3c3c3;
  margin-top: 0.5rem;
}

.message {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.8rem;
  letter-spacing: 0.5rem;
  color: #ff6837;
}
