.wrapper {
  max-width: 500px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid black;
}

/* .container {
  } */
.select {
  width: 100%;
  height: 50px;
  outline: none;
  margin-bottom: 20px;
}

/* .select option {
    padding: 10px;
  } */
