.wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
  padding: 0 15px;
  gap: 30px;
}
.container {
  height: 800px;
  padding: 20px;
}
.item_name {
  font-size: 24px;
  font-weight: 600;
}
.btn_group {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn_group div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn_group p {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
}
.btn_group button:nth-of-type(1) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  border: none;
  background: #1655f2;
  padding: 10px;
  cursor: pointer;
}
.btn_group button:nth-of-type(2) {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #1655f2;
  padding: 10px;
  background: transparent;
  color: #2a2a2a;
  cursor: pointer;
}
.severity {
  margin-top: 15px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.severity button {
  background: transparent;
  border: 1px solid #696969;
  font-size: 16px;
  font-weight: 400;
  color: #171819;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.severity .active {
  background-color: #696969;
  color: white;
}
.severity p {
  margin-bottom: 10px;
}
.select {
  outline: none;
  padding: 5px 10px;
}
.form {
  margin-top: 10px;
}
.form p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.textarea {
  width: 100%;
  height: 134px;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d8dadc;
  outline: none;
}
.input {
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #d8dadc;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.device_details {
  border: 1px solid #696969;
  height: 600px;
  width: 100%;
  padding: 10px;
}
.device_flex {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.device_flex_child {
  margin-top: 5px;
}
.device_flex_child p {
  font-weight: 500;
  font-size: 20px;
  color: #171819;
  margin-bottom: 20px;
}

.device_details button {
  position: absolute;
  top: 13px;
  left: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 24px 32px;
  border: 1px;
  background-color: #f8faff;
  margin-bottom: 20px;
}
.flex {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 30px;
}
.flex span:nth-of-type(1) {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 20px;
}

.flex span:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  color: #171819;
}
@media screen and (max-width: 760px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
