.hide_container {
  display: none;
}

.continue_container {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: rgba(3, 3, 3, 0.6);
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 100;
  margin-top: 0px;
}

.continue_container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.continue_container.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 500ms ease;
}

.continue_wrapper {
  display: block;
  width: 70%;
  padding: 20px;
  background-color: #fff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  border-radius: 16px;
}

.continue_wrapper_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.continue_cancel_icon {
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.modal_content {
  border: 1px solid #171819;
  padding: 20px;
  height: 500px;
}
.modal_content p {
  font-weight: 600;
  color: #171819;
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  .continue_container {
    height: 100vh;
    align-items: center;
  }
  .continue_wrapper {
    width: 300px;
    margin-top: 0px;
  }
}
